
#deathstar {
  width: 500px;
  height: 500px;
  position: absolute;
  background-size: 70px 70px;
  animation: move 20s forwards linear ;
  top: 100px;
  z-index: -1;
}

@keyframes move {
  0% {
    left: 3000px
  }
  100% {
    left: -3000px;
  }
}


