.filterbtn {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  border-radius: 30px;
  padding: 10px 10px;
  width: 70px;
  background-color: black;
  border: 2px solid #15ff00;
  color: #15ff00;
  box-shadow: 0px 0px 35px #15ff00, 0px 0px 15px #15ff00c0 inset;
  box-shadow: 0px 0px 10px #15ff00cc, 0px 0px 3px #15ff00;
  margin-left: 5px;
}

.input_name {
  width: 110px;
  border-radius: 20px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  transition: box-shadow 0.5s;
}

.input_name:focus {
  background-color: whitesmoke;
}

.input_number {
  width: 110px;
  border-radius: 20px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  transition: box-shadow 0.5s;
}

.input_number:focus {
  background-color: whitesmoke;
}

select {
  margin-left: 5px;
  width: 100px;
  border-radius: 20px;
  background-color: black;
  color: gray;
  transition: box-shadow 0.5s;
  font-family: 'Roboto', sans-serif;
}

select:focus {
  background-color: whitesmoke;
}

.input_asc {
  margin-left: 5px;
  margin-right: 5px;
  transition: box-shadow 0.5s;
  outline: none;
  border-radius: 50px;
}

.input_asc:checked {
  color: #ff0800;
  border-radius: 50px;
  background-color: #ff0800;
  box-shadow: 0px 0px 35px #ff0800, 0px 0px 15px #ff0800 inset;
  box-shadow: 0px 0px 10px #ff0800, 0px 0px 3px #ff0800
};

.input_desc {
  margin-left: 5px;
  margin-right: 5px;
  transition: box-shadow 0.5s;
  outline: none;
}

.input_desc:checked {
  color: #ff0800;
  background-color: #ff0800;
  box-shadow: 0px 0px 35px #ff0800, 0px 0px 15px #ff0800 inset;
  box-shadow: 0px 0px 10px #ff0800, 0px 0px 3px #ff0800
}

.ascDescForm {
  width: 80vw;
  margin-left: 20px;
  margin-top: 10px;
}

table {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(0, 200, 250, 0.37);
  margin-top: 30px;
  font-family: 'Roboto', sans-serif; 
}

tr {
  border: 1px solid rgba(0, 200, 250, 0.37); 
}

td {
  border: 1px solid rgba(0, 200, 250, 0.37);
}

tbody {
  font-size: 8px;
  border: 1px solid rgba(216, 203, 24, 037);
}

thead {
  font-size: 10px;
  border: 1px solid rgba(216, 203, 24, 037);
}

.asc {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.desc {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.filterForm {
  width: 80vw;
  margin-left: 20px;
}