#ship1 {
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: 100px 100px;
  z-index: -1;
  animation: move 10s infinite linear;
  animation-direction: reverse;
  top: 40px;
}

@keyframes move {
  0% {
    left: 500px;
  }
  100% {
    left: -500px;
  }
}

#ship2 {
  width: 200px;
  height: 200px;
  position: absolute;
  background-size: 500px 500px;
  z-index: -1;
  animation: move 15s infinite linear;
  top: 200px;
}

@keyframes move {
  0% {
    left: 500px;
  }
  100% {
    left: -500px;
  }
}

